npm-debug.log
.git
.idea
.vscode/
.dockerignore
.gitignore
.package-lock.json
.editorconfig
README.md
Dockerfile
docker-compose.yml
node_modules/
github/
wagglez-web/
logfile
DOCS.md
postgres-data/
coverage/
docs/