<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to NOTES APP!
  </h1>
  <p>
    The app writes to a postgres database is in a docker container,
    which is brought up by a docker-compose script, along with the nginx container, and express-node-api container.
    The app performs some basic C.R.U.D and List operations. Create a note or a few notes, to see the list page generate.
    Navigate to the create note route and create one or as many notes as you like. the list view will allow you to see them in list form.
    And selecting a list item will navigate you to the read-view of each of the notes. If you see find the id a note,
    you can also delete it with the delete component.

    Some basic validation, a note can be no more than 140 characters.
  </p>
</div>
<router-outlet></router-outlet>
